<a href="https://colab.research.google.com/github/student-jashan/myrepo/blob/main/DAY1(variables%2Cdatatypes).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
#addition
4+4

8

In [ ]:
#subtraction
2-5

-3

In [ ]:
#division
12/4

3.0

In [ ]:
#multiplication
4*3

12

In [ ]:
#floor value
12//4

3

In [ ]:
#moduluo
3%5

3

In [ ]:
#operator presedence
print((5+2)*3**2-1)

62

An operator working behind the scoreboard of a inter cohort AlmaBetter cricket tournament, is responsible for updating the scores and points of each team. However, the operator is currently facing a challenge. He has been tasked with updating the total number of points gained by Team London, but he does not possess the necessary programming skills to complete this task. According to the tournament's rules, teams are awarded the following points based on the outcome of a match:

wins: 3 points
draws: 1 point
losses: 0 points
Team London has played 9 matches in this tournament. They won 6 matches, lost 2 matches and drew 1. The operator is in need of assistance to calculate the total number of points earned by Team London. As a python expert adept with knowledge of integer, floats and boolean, you can help the operator by writing a solution for the following problem.

What would your approach be?

In [ ]:
won=int(input("enter no. of won matches:"))
losses=int(input("enter no.of loss matches:"))
draws=int(input("enter no. of draws :"))
print(3*won+0*losses+1*draws)

In [ ]:
#variables
x=7
print(x)

7

In [ ]:
x=7
y=6.6
y
c=44j
print(type(x))
print(type(y))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

Imagine you are a data analyst at a nutrition bar manufacturing company. Your department head approaches you with a question. The company produces a nutrition bar that contains 50g of raisins, 60g of almonds, and 20g of apricots. The head of the manufacturing department wants you to create an ingredient percentage list for the nutrition bar using python.

Equipped with the knowledge of int, float and booleans in python, how would you approach this situation?

In [ ]:
raisins=50
alomands=60
apricots=20
result=raisins+alomands+apricots
print(raisins/result*100)
print(alomands/result*100)
print(apricots/result*100)

38.46153846153847
46.15384615384615
15.384615384615385

In [ ]:
boolean_value=True
print(type(boolean_value))

<class 'bool'>

In [ ]:
a=6
b=7
a>b

False

You're creating a program to manage a zoo's animal population. Declare a variable lion_population with an initial value of 10. The zoo welcomes 5 new lion cubs. Update the lion_population variable and print the total lion population.*

In [ ]:
lion_population=10
total=lion_population+5
print(total)

15

*You're developing a weather monitoring system. Declare a variable temperature with a value of 25.5 degrees Celsius. Due to a sudden heatwave, the temperature increases by 8 degrees. Update and print the new temperature.*

In [ ]:
temperature=25.5
temperature+8

33.5

*A science experiment involves tracking the growth of a plant. Declare a variable plant_height with an initial value of 15 centimeters. Over a week, the plant grows 2.5 centimeters taller each day. Update and print the final height of the plant after the week.*

In [ ]:
plant_height=15
everyday=7*2.5
plant_height+everyday

32.5

*A group of friends is sharing a pizza. Declare a variable pizza_slices with a value of 8. Each friend wants to have an equal number of slices, and there are 5 friends. Calculate and print the maximum number of slices each friend can have without cutting the pizza.*

In [ ]:
pizza_slice=8
equal_slices=8//5
print(equal_slices)

1

*You're modeling the movement of a pendulum. Declare a variable pendulum_length with a value of 1.2 meters. Calculate and print the period of oscillation (time taken for one complete swing) using the formula \( T = 2\pi \sqrt{\frac{L}{g}} \), where \( \pi \) is pi (approximately 3.14159) and \( g \) is the acceleration due to gravity (approximately \( 9.81 \) meters per second squared).*

In [ ]:
pendulum_length=1.2
period_of_ossilation=2*3.14*(1.2/9.81)**0.5
print(period_of_ossilation)

2.196421888697581

A fitness tracker is monitoring a user's heart rate variability (HRV). Declare a variable hrv_index with an initial value of 80. After a relaxation session, the user's HRV improves by 10 points. Update and print the new hrv_index.*

In [ ]:
hrv_index=80
improve=hrv_index+10
print(improve)

90

10. *You're simulating the growth of a bacterial colony. Declare a variable bacteria_count with an initial value of 5000. Over a day, the colony doubles in size every 4 hours. Update and print the new bacteria_count.*

In [ ]:
bacteria_count=5000
total_hours=24/4
doouble=total_hours*bacteria_count**2
print(doouble)

150000000.0

A software company is tracking the number of bugs in their codebase. Declare a variable bug_count with an initial value of 100. After a round of debugging, 35 bugs are fixed. Update and print the new bug_count.

In [ ]:
bug_count=100
count=bug_count-35
count

65

You're designing a space mission trajectory. Declare variables initial_velocity and acceleration with values 3000 meters per second and 500 meters per second squared respectively. Calculate and print the final velocity after 10 seconds.

In [ ]:
intital_velocity=3000
acceleration=500
final_velocity=intital_velocity+acceleration*10
print(final_velocity)

8000