<a href="https://colab.research.google.com/github/student-jashan/myrepo/blob/main/DAY3(DICTIONARY).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. You have a dictionary representing the inventory of a store with item names as keys and quantities as values. Add a new item to the inventory with a specific quantity.

In [ ]:
inventory={'pen':20,'pencils':30,'notebooks':40}
inventory['eraser']=20

print(inventory)

{'pen': 20, 'pencils': 30, 'notebooks': 40, 'eraser': 20}

2. Given a dictionary of student names and their scores, find the score of a particular student.

In [ ]:
student={'Raj':85,'kajal':88,'Deep':80}
print(student.get('kajal'))

88

3. You have a dictionary of country names as keys and their capitals as values. Update the capital of a specific country

In [ ]:
country={'India':'New Delhi','France':'Paris','ShriLanka':'Kabul'}
new={'Shri Lanka':'Colombo'}
country.update(new)
print(country)

{'India': 'New Delhi', 'France': 'Paris', 'ShriLanka': 'Kabul', 'Shri Lanka': 'Colombo'}

4. Given a dictionary of product prices with product names as keys, remove a product from the dictionary

In [ ]:
stationary_items={'pen':'20 Rs','pencils':'5 Rs','Notebook':'50 Rs'}
stationary_items.pop('pencils')
print(stationary_items)

{'pen': '20 Rs', 'Notebook': '50 Rs'}

5.You have two dictionaries representing two different departments with employee names as keys and their salaries as values. Merge these two dictionaries into one.

In [ ]:
department_cse={'Raj':60000,'Jay':65000,'Nikhil':68000}
department_it={'Diviya':63000,'Raha':59000,'kajal':69000}
merge={**department_cse,**department_it}
print(merge)

{'Raj': 60000, 'Jay': 65000, 'Nikhil': 68000, 'Diviya': 63000, 'Raha': 59000, 'kajal': 69000}

6. Given a dictionary of city names and their populations, check if a particular city is in the dictionary.

In [ ]:
cities={"New York":8765431,"San Antonio":1543287,"Houston":2387652}
cities_name="San Antonio"
if cities_name in cities:
  population=cities[cities_name]
  print(population)
else:
  print("no")

1543287

7. You have a dictionary of book titles as keys and their authors as values. Add multiple new books to the dictionary at once.

In [ ]:
books={"To kill a Mockingbird":'Harper Lee',"The Great Gatsby":"F.Scott Fitzgerald"}
new_books ={"Pride and Prejudice":'Jane Austen',"The Lord of Rings":'J.R.R Tolklien'}
books.update(new_books)
books

{'To kill a Mockingbird': 'Harper Lee',
 'The Great Gatsby': 'F.Scott Fitzgerald',
 'Pride and Prejudice': 'Jane Austen',
 'The Lord of Rings': 'J.R.R Tolklien'}

8. Given a dictionary of students' names and their grades, find the student with the highest grade.

In [ ]:
student={'Raj':85,'kajal':88,'Deep':80}
highest_grade=max(student)
print(highest_grade)

kajal

9.You have a dictionary representing a phone book with names as keys and phone numbers as values. Remove a contact from the phone book

In [ ]:
student={'Raj':9876543212,'kajal':9867343488,'Deep':9801234560}
student.pop('kajal')
print(student)

{'Raj': 9876543212, 'Deep': 9801234560}

10. You have a dictionary of employee IDs as keys and their names as values. Update the name of an employee given their ID

In [6]:
employee={1:"RAJ", 2:"DIVYA",3:"DIYA"}
employee_id=2
new_name="MANAV"
if employee_id in employee:
  employee[employee_id]=new_name
  print(f"updated value {employee_id}'s name to {new_name}")
else:
  print(f"employee id {employee_id} not found")
print(employee)

updated value 2's name to MANAV
{1: 'RAJ', 2: 'MANAV', 3: 'DIYA'}