<a href="https://colab.research.google.com/github/student-jashan/myrepo/blob/main/DAY3(SETS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. You have two sets representing students enrolled in Math and Science classes. Find the set of students who are enrolled in both classes.

In [ ]:
student_maths={"Ram","Jay","Dev","Ishan"}
student_science={"Vijay","Raman","Deep","Manju"}
student_maths.union(student_science)

{'Deep', 'Dev', 'Ishan', 'Jay', 'Manju', 'Ram', 'Raman', 'Vijay'}

2. Given a set of unique employee IDs, add a new employee ID to the set

In [ ]:
from ast import Add
#unique employee id also add new id to it
unique_id={345,234,566,677}
print(unique_id)
unique_id.add(456)
print(unique_id)

{345, 234, 677, 566}
{677, 456, 234, 566, 345}

3. You are managing two different projects and have two sets representing the team members for each project. Find the set of team members who are working on either project or both projects.

In [ ]:
project1={"Ram","Jay","Dev","Ishan"}
project2={"Vijay","Raman","Deep","Manju","Dev","Ishan"}
team_work_on_either_project=project1.union(project2)
print(team_work_on_either_project)

{'Manju', 'Ishan', 'Ram', 'Vijay', 'Deep', 'Raman', 'Dev', 'Jay'}

4. Given two sets of product IDs, one representing products in stock and the other representing products that have been sold, find the set of products that are still in stock.

In [ ]:
product_present_stock={"product A","product B","product D"}
product_sold={"product C", "product D"}
update=product_present_stock.difference(product_sold)
print(update)

{'product A', 'product B'}

6. You have a set of registered conference attendees. Check if a particular person is registered.

In [ ]:
regested={"Ram","Jay","Dev","Ishan"}
to_check_person={"Dev"}
to_check_person.issubset(regested)

True

7. Given two sets of book titles, one representing books available in the library and the other representing books borrowed by students, find the set of books that are not currently available in the library.

In [ ]:
books_in_library={"The Marchant","On friendship","The Great Indian's","The World"}
books_borrowed={"The Great Indian's","The World"}

not_present_in_library=books_in_library.intersection(books_borrowed)
print(not_present_in_library)

{'The World', "The Great Indian's"}

8. You have a set of unique tags assigned to a blog post. Add multiple new tags to the set at once.

In [ ]:
available_tags={"Python","Artifical Intelligence","Data Science"}
new_tags={"Data Anylsis","Data Structure"}
available_tags.update(new_tags)
print(available_tags)

{'Artifical Intelligence', 'Data Science', 'Python', 'Data Structure', 'Data Anylsis'}

9. Given a set of employee skills and another set of skills required for a new project, find the set of skills that need to be acquired or improved.

In [ ]:
empolyee_skills={"Team Management","Communication","Problem solving"}
new_skills={"leadership","Adaptability"}
update=empolyee_skills.union(new_skills)
print(update)

{'Communication', 'Problem solving', 'Team Management', 'Adaptability', 'leadership'}

10. You have two sets of favorite movies from two different friends. Find the set of movies that are favorite to at least one of them but not both.

In [ ]:
favourite_movie1={"Lost","Khmoshi","Gaslight","1920"}
favourite_movie2={"Pari","1920","Dybbuk"}
update=favourite_movie1.intersection(favourite_movie2)
print(update)

{'1920'}

11. Given two sets representing the collection of books in two different libraries, find the set of books that are available in both libraries.

In [ ]:
books_in_library1={"Python","Artifical Intelligence","Data Science"}
books_in_library2={"Digital Marketing","Graphic Desigining","Data Structure and Algorithms"}
total_available=books_in_library1|books_in_library2
print(total_available)

{'Artifical Intelligence', 'Data Science', 'Graphic Desigining', 'Python', 'Data Structure and Algorithms', 'Digital Marketing'}