<a href="https://colab.research.google.com/github/student-jashan/myrepo/blob/main/DAY4(operators_and_string).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**10 June 2024**

TOPICS:
Operators in python , Strings and its methods

1. You have two variables, a and b, containing integer values. Use arithmetic operators to calculate and print the sum, difference, product, and quotient of these variables.

In [ ]:
a=5
b=7
sum=a+b
difference=a-b
product=a*b
quotient=a/b
print(f"sum:{sum}")
print(f"difference:{difference}")
print(f"product:{product}")
print(f"quotient:{quotient}")

sum:12
difference:-2
product:35
quotient:0.7142857142857143

2. Given a variable x containing an integer value, use the modulus operator to check if x is even or odd.

In [ ]:
x=7
if(x%2==0):
  print(f"{x} is an even number")
else:
  print(f"{x} is an odd number")

7 is an odd number

3. You have two variables, a and b. Use comparison operators to check if a is greater than b, and print the result.

In [ ]:
a=4
b=7
if a>b:
 print(f"a={a} is greater ")
else:
  print(f"b={b} is greater")

b=7 is greater

4. Given two boolean variables, p and q, use logical operators to evaluate and print the result of p AND q, p OR q, and NOT p.

In [ ]:
p=True
q=False
print(f"p and q: {p and q}")
print(f"p or q:{p or q}")
print(f"not p: {not p}")

p and q: False
p or q:True
not p: False

5. You have a variable n containing an integer value. Use the bitwise AND, OR, and XOR operators to perform operations with another integer m.

In [ ]:
n=7
m=3
print(f"n AND m:{n&m}")
print(f"n OR m:{n|m}")
print(f"n XOR m: {n^m}")

n AND m:3
n OR m:7
n XOR m: 4

6.Given a variable y containing a floating-point number, use the floor division operator to divide y by 2 and print the result.

In [ ]:
y=5.5
print(f"value: {y//2}")

value: 2.0

7.You have two strings, str1 and str2. Use the concatenation operator to join these strings and print the result.

In [ ]:
str1="jashan"
str2="deep"
str=str1+str2
print(str)

jashandeep

8.Given a variable z containing an integer, use the increment operator to increase its value by 1 and print the result.

In [ ]:
z=5
z+=1
print(z)

6

9. You have a list my_list and a value val. Use the in operator to check if val
is present in my_list and print the result.

In [ ]:
my_list=[2,4,6,7]
val=6
if val in my_list:
  print(f"{val} is present ")
else:
  print(f"{val} is not present")

6 is present

10.Given two variables a and b, use the assignment operator to assign the value of b to a and print a

In [ ]:
a=4
b=7
a=b
print(a)

7

11. You have two variables, x and y, containing integer values. Use the compound assignment operator to add y to x and print the result.

In [ ]:
x=4
y=8
x+=y
print(x)

12

12.Given a variable num containing an integer value, use the bitwise left shift operator to shift num by 2 bits and print the result.

In [ ]:
num=5
result=num<<2
print(result)

20

13.You have a string text and an integer n. Use the repetition operator to repeat text n times and print the result.

In [ ]:
text="Hello!"
n="2"
result=text*2
print(result)

Hello!Hello!

14.Given two variables, a and b, use the comparison operators to check if a is equal to b and if a is not equal to b. Print the results.

In [ ]:
a=5
b=5
if a==b:
 print("a equals to b")
else:
   print("a is not equals to b")

a equals to b

15.You have two variables, x and y, containing integer values. Use the bitwise right shift operator to shift x by 3 bits and print the result.

In [ ]:
x=9
y=5
result=x>>3
print(result)

1

16. Given a boolean variable flag, use the logical operator to check if flag is True and print the result.

In [ ]:
flag=True
if flag:
  print("flag is true")
else:
  print("flag is not true")

flag is true

17.You have a variable price containing a float value. Use the floor division operator to calculate how many whole units you can get for a given amount and print the result.

In [ ]:
price=234.6
result=234.6//1
print(result)

234.0

18. Given two sets, set1 and set2, use the union operator to combine these sets and print the result.

In [ ]:
set1={"Dav", "Diya"}
set2={"Raj","Isha"}
set=set1|set2
print(set)

{'Isha', 'Raj', 'Dav', 'Diya'}

19.You have a dictionary my_dict and a key key. Use the in operator to check if key is present in my_dict and print the result.

In [ ]:
my_dict={"Name":"jashan","Age":"19","Gender":"Female"}
key='Age'
if key in my_dict:
  print(f"key: {key} is present in my_dict")
else:
  print(f"key {key} is not present in my_dict")

key: Age is present in my_dict

20.Given two variables a and b, use the comparison operators to check if a is less than or equal to b, and print the result.

In [ ]:
a=5
b=9
if a<=b:
  print(f"a: {a} is less than b")
else:
  print(f"b: {b} is less than a")

a: 5 is less than b

**Strings**

# 1. To create a string and print it also print its type

In [ ]:
Name="Shubam"
print(Name)
print(type(Name))

Shubam
<class 'str'>

2. By using string method convert the given string in upper and lower case

In [ ]:
#methods of string
Name="diksha"
new=Name.upper()
print(new)
#str.upper()
Name="DIKSHA"
new=Name.lower()
print(new)

DIKSHA
diksha

3. To create a string and use string method to capatilize the first word of the string

In [ ]:
school="dav school"
s=school.capitalize()
print(s)

Dav school

4. Check by using string method is the given string is in lower case or not

In [ ]:
school="dav school"
s=school.islower()
print(s)

True

5. Check by using string method find the index of a particular string

In [ ]:
s=school.find('a')
print(s)

1

6. By using string method change the first letter

In [ ]:
name="divya sharma"
x=name.title()
print(x)

Divya Sharma

7. By using string method convert the string which has lower case to upper and upper case to lower case

In [ ]:
name="DIvayA sHarMA"
n=name.swapcase()
print(n)

diVAYa ShARma

8. By using string method replace the tab characters with appropriate number of spaces

In [ ]:
name_spaces="My\tname\tis\tDiksha\tThakur."
t=name_spaces.expandtabs(4)
print(t)

My  name    is  Diksha  Thakur.

9. By using slicing method reverse the string

In [ ]:
name="teacher"
num=name[::-1]
print(num)

rehcaet

10. To check is the given string is palindrom or not

In [ ]:
name="madam"
num=name[::-1]
print(num)
if num in name:
  print("palindrom")
else:
  print("not palindrom")

madam
palindrom

11. Given a string containing a sentence, replace all occurrences of the word "Java" with "Python".

In [ ]:
sentence="I love Java language because Java is easy to understand"
new_sentence=sentence.replace("Java","Python")
print(new_sentence)

I love Python language because Python is easy to understand

12. You have a string containing a URL. Use a
string method to check if the URL ends with ".com".

In [ ]:
url="https//www.google.com"
check=url.endswith(".com")
print(check)

True

13. You have a string containing a sentence. Use a string method to find the number of times the word "data" appears in the string.

In [ ]:
sentence="in a machine learning we need to carry the data its all about how se are storing the data and working with the data"
new=sentence.count("data")
print(new)

3

14. To find a the paticular vowel is present
in the given strin

In [ ]:
vowels="aeiou"
print ( "e" in vowels)

True

15. Given a string containing a paragraph, use a string method to replace all newline characters ("\n") with spaces.

In [ ]:
paragraph="A group of sentences or a single sentence that forms a unit\nLength and appearance do not determine whether a section in a paper is a paragraph\nFor instance, in some styles of writing."
new=paragraph.replace("\n"," ")
print(new)

A group of sentences or a single sentence that forms a unit Length and appearance do not determine whether a section in a paper is a paragraph For instance, in some styles of writing.

16. Given a string containing a sentence, use a string method to find the last occurrence of the substring "Python".

In [ ]:
str="I love Python language because Python is easy to understand"
new=str.endswith("Python")
print(new)

False

17. You have a string containing a sentence. Use a string method to swap the case of each character in the string.

In [ ]:
sentence="Diya Bawaja"
swap=sentence.swapcase()
print(sentence)

Diya Bawaja

18. Given a string containing a date in the format "DD-MM-YYYY", use a string method to extract the year.

In [ ]:
date="10-06-2024"
new=date[-4:]
print(new)

2024

19. You have a string with multiple lines of text. Use a string method to split the string into a list of lines

In [ ]:
str="You have a string containing a sentence. Use a string method to swap the case of each character in the string. a string with multiple lines of text. Use a string method to split the string into a list of lines. Use a string method to swap the case of each character in the string."
str_list=str.split(".")
print(str_list)

['You have a string containing a sentence', ' Use a string method to swap the case of each character in the string', ' a string with multiple lines of text', ' Use a string method to split the string into a list of lines', ' Use a string method to swap the case of each character in the string', '']

20. Given a string containing a sentence, use a string method to find the index of the first occurrence of the character "a".

In [ ]:
str="You have a string containing a sentence"
value=str.index('a')
print(value)

5