<a href="https://colab.research.google.com/github/student-jashan/myrepo/blob/main/DAY5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CONDITIONAL STATEMENTS**

1.You have a variable age. Write a conditional statement to check if age is greater than or equal to 18. If true, print "You are an adult", otherwise print "You are a minor".

In [ ]:
age=int(input("Enter your age:"))
if age>=18:
  print("You are an adult")
else:
  print("You are a minor")

Enter your age:23
You are an adult

2.Given a variable temperature, write a conditional statement to check if temperature is below 0. If true, print "It's freezing", otherwise print "It's not freezing".

In [ ]:
temperature=int(input("Enter temperature:"))
if temperature<0:
  print("it's freezing")
else:
  print("it's not frreezing")

Enter temperature:34
it's not frreezing

3.You have a variable score. Write a conditional statement to check if score is greater than 90. If true, print "Grade A", if score is between 80 and 90, print "Grade B", otherwise print "Grade C"

In [ ]:
score=int(input("Enter your score:"))
if score>90:
  print("Grade A")
elif 80<score<90:
  print("Grade B")
else:
  print("Grade C")

Enter your score:89
Grade B

4.Given two variables a and b, write a conditional statement to check if a is equal to b. If true, print "a and b are equal", otherwise print "a and b are not equal".

In [ ]:
a=6
b=7
if a==b:
  print("a and b are equal")
else:
  print("a and b are not equal")

a and b are not equal

5.You have a variable number. Write a conditional statement to check if number is even or odd. If even, print "Even number", otherwise print "Odd number".

In [ ]:
number=5
if number%2==0:
  print("even number")
else:
  print("odd number")

odd number

6.Given a variable day which can be any day of the week, write a conditional statement to print "Weekend" if the day is "Saturday" or "Sunday", otherwise print "Weekday".

In [ ]:
day="Monday"
if day=="Sunday" or day=="Saturday":
  print("Weekend")
else:
  print("Weekday")

Weekday

7.You have a variable marks. Write a conditional statement to check if marks are greater than 75. If true, print "Distinction", if marks are between 50 and 75, print "Pass", otherwise print "Fail"

In [ ]:
marks=86
if marks>75:
  print("Distinction")
elif 50< marks <75:
  print("Pass")
else:
  print("Fail")

Distinction

8.Given a variable speed, write a conditional statement to check if speed is greater than 120. If true, print "Over speed limit", otherwise print "Within speed limit".

In [ ]:
speed=160
if speed>120:
  print("Over speed limit")
else:
  print("Within speed limit")

Over speed limit

9.You have a variable year. Write a conditional statement to check if year is a leap year. If true, print "Leap year", otherwise print "Not a leap year".

In [ ]:
year=2005
if  year%400==0 or year!=100 and year%4==0:
    print("Leap year")
else:
    print("not a leap year")

not a leap year

10.Given a variable char, write a conditional statement to check if char is a vowel (a, e, i, o, u). If true, print "Vowel", otherwise print "Consonant".

In [ ]:
char="aeiou"
if "e" in char:
  print("Vowel")
else:
  print("Consonant")

Vowel

11.You have two variables x and y. Write a conditional statement to check if both x and y are positive. If true, print "Both are positive", otherwise print "At least one is not positive".

In [ ]:
x=4
y=8
if x>0 and y>0:
  print("Both are positive")
else:
  print("At least one is not positive")

Both are positive

12.Given a variable time representing the hour of the day in 24-hour format, write a conditional statement to print "Good morning" if time is between 6 and 12, "Good afternoon" if time is between 12 and 18, and "Good evening" if time is between 18 and 24.

In [ ]:
time=14
if 6<=time<12:
  print("Good Morning")
elif 12<=time<18:
  print("Good Afternoon")
else:
  print("Good Evening")

Good Afternoon

13.You have a variable budget and a variable price. Write a conditional statement to check if budget is greater than or equal to price. If true, print "Purchase possible", otherwise print "Not enough budget".

In [ ]:
budget=400
price=650
if budget>=price:
  print("Purchase possible")
else:
  print("Not enough budget")

Not enough budget

14.Given a variable username, write a conditional statement to check if username is not empty. If true, print "Username is valid", otherwise print "Username cannot be empty".

In [ ]:
username="student"
if username!=0:
  print("Username is valid")
else:
  print("Username cannot be empty")

Username is valid

15.You have a variable weight and a variable height. Write a conditional statement to calculate BMI and print "Underweight" if BMI is less than 18.5, "Normal weight" if BMI is between 18.5 and 24.9, and "Overweight" if BMI is 25 or above.

In [ ]:
weight=56.5
height=1.75
BMI=weight/(height **2)
if BMI<18.5:
  print("Underweight")
elif 18.5<=BMI <24.9:
  print("Normal weight")
else:
  print("Overweight")

Underweight

16.Given a variable password, write a conditional statement to check if the length of password is greater than or equal to 8. If true, print "Strong password", otherwise print "Weak password".

In [ ]:
password="itsDeep65%"
if len(password)>=8:
  print("Strong password")
else:
  print("Weak password")

Strong password

17.You have a variable grade. Write a conditional statement to print "Excellent" if grade is 'A', "Good" if grade is 'B', "Average" if grade is 'C', and "Poor" if grade is 'D'.

In [ ]:
grade="B"
if "A" in grade:
  print("Excellent")
elif "B" in grade:
  print("Good")
elif "C"in grade:
  print("Average")
else:
  print("Poor")

Good

18.Given a variable month, write a conditional statement to check if month is "December", "January", or "February". If true, print "Winter", if month is "June", "July", or "August", print "Summer", otherwise print "Other season".

In [ ]:
month="June"
if month=="December" or month=="January" or month=="February":
  print("Winter")
elif month=="June"or month=="July" or month=="August":
  print("Summer")
else:
  print("Other season")

Summer

19.You have a variable balance. Write a conditional statement to check if balance is greater than or equal to 1000. If true, print "Sufficient balance", otherwise print "Insufficient balance"

In [ ]:
balance=500
if balance>=1000:
  print("Sufficient balance")
else:
  print("Insufficient balance ")

Insufficient balance

20.Given a variable number, write a conditional statement to check if number is positive, negative, or zero. Print "Positive", "Negative", or "Zero" accordingly.

In [ ]:
number=-34
if number>=0:
  print("Positive")
elif number<=0:
  print("Negative")
else:
  print("Zero")

Negative

21.You have a variable ticket_type. Write a conditional statement to check if ticket_type is "VIP". If true, print "Access to VIP lounge", otherwise print "Regular access".

In [ ]:
ticket_type="VIP"
if "VIP"in ticket_type:
  print("Access to VIP lounge")
else:
  print("Regular access")

Access to VIP lounge

22.Given a variable age, write a conditional statement to print "Eligible for senior citizen discount" if age is 65 or above.

In [ ]:
age=70
if age>=65:
  print("Eligible for citizen discount")

Eligible for citizen discount

23.You have a variable color. Write a conditional statement to print "Stop" if color is "Red", "Ready" if color is "Yellow", and "Go" if color is "Green".

In [ ]:
color="Green"
if "Red" in color:
  print("Stop")
elif "Yellow" in color:
  print("Ready")
else:
  print("Go")

Go

24.Given a variable temperature, write a conditional statement to check if temperature is above 100. If true, print "Boiling point", otherwise print "Below boiling point"

In [ ]:
temperture=45
if temperature>100:
  print("Boiling point")
else:
  print("Below boiling point")

Below boiling point

25.You have a variable loan_amount. Write a conditional statement to check if loan_amount is greater than 50000. If true, print "Approval requires higher authority", otherwise print "Loan approved".

In [ ]:
loan_amoount=60000
if loan_amoount>50000:
  print("Approval requires higher authority")
else:
  print("loan approved")

Approval requires higher authority

**LOOPS AND ITERATIONS**

1.You are managing a list of employee ages. Print each age from the list using a for loop.

In [ ]:
employee_ages=[23,25,22,23]
for age in employee_ages:
  print(age)

23
25
22
23

2.You have a string representing a secret message. Use a while loop to print each character until you reach a period (.).

In [ ]:
secret_message="keep moving safe."
i=0
while i<len(secret_message) and secret_message[i]!=".":
  print(secret_message[i],end=" ")
  i+=1

k e e p   m o v i n g   s a f e

3.You are given a list of daily temperatures. Use a for loop to calculate and print the average temperature for the week.

In [ ]:
temperature=[23,34,24,35]
sum=0
count=0
for temp in temperature:
  sum+=temp
  count+=1
  calculate=sum/count
  print(calculate)

23.0
28.5
27.0
29.0

4.You need to distribute candies to children. Print each child's name and the number of candies they receive, distributing 1 to 20 candies using a for loop.

In [66]:
child_name=["divya", "arohi","manav"]
for receive_candies in range(1,21):
  for child in child_name:
    print(f"{child} reveive {receive_candies} candies")

divya reveive 1 candies
arohi reveive 1 candies
manav reveive 1 candies
divya reveive 2 candies
arohi reveive 2 candies
manav reveive 2 candies
divya reveive 3 candies
arohi reveive 3 candies
manav reveive 3 candies
divya reveive 4 candies
arohi reveive 4 candies
manav reveive 4 candies
divya reveive 5 candies
arohi reveive 5 candies
manav reveive 5 candies
divya reveive 6 candies
arohi reveive 6 candies
manav reveive 6 candies
divya reveive 7 candies
arohi reveive 7 candies
manav reveive 7 candies
divya reveive 8 candies
arohi reveive 8 candies
manav reveive 8 candies
divya reveive 9 candies
arohi reveive 9 candies
manav reveive 9 candies
divya reveive 10 candies
arohi reveive 10 candies
manav reveive 10 candies
divya reveive 11 candies
arohi reveive 11 candies
manav reveive 11 candies
divya reveive 12 candies
arohi reveive 12 candies
manav reveive 12 candies
divya reveive 13 candies
arohi reveive 13 candies
manav reveive 13 candies
divya reveive 14 candies
arohi reveive 14 candies
manav reveive 14 candies
divya reveive 15 candies
arohi reveive 15 candies
manav reveive 15 candies
divya reveive 16 candies
arohi reveive 16 candies
manav reveive 16 candies
divya reveive 17 candies
arohi reveive 17 candies
manav reveive 17 candies
divya reveive 18 candies
arohi reveive 18 candies
manav reveive 18 candies
divya reveive 19 candies
arohi reveive 19 candies
manav reveive 19 candies
divya reveive 20 candies
arohi reveive 20 candies
manav reveive 20 candies

5. You are processing a list of book titles. Use a for loop to print each title in uppercase.

In [72]:
list_of_books_title=["The Gloary","The Indians","Be Yourself"]
for title in list_of_books_title:
  print(title.upper())

THE GLOARY
THE INDIANS
BE YOURSELF

6.You are programming a countdown timer. Write a while loop to print the countdown from 10 to 0

In [75]:
time=10
while time>=0:
  print(f"time:{time}")
  time-=1

time:10
time:9
time:8
time:7
time:6
time:5
time:4
time:3
time:2
time:1
time:0

7.You are analyzing sales data. Use a for loop to find and print the highest sale amount from a list of sales figures.

In [92]:
data=[234.7,454.5,342.4,563.5,672.5]
highest_sale=0
for val in data:
  if val > highest_sale:
    highest_sale=val
    print(f"highest sale is :{highest_sale}")

highest sale is :234.7
highest sale is :454.5
highest sale is :563.5
highest sale is :672.5

8. You are creating a sequence of special offers. Use a for loop to generate and print the first 10 offers based on the Fibonacci sequence.

In [98]:
fibo = [0, 1]
n=10
for i in range(2, n):
   fibo.append(fibo[-1] + fibo[-2])
   print(fibo)

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

9. You are creating a sequence of special offers. Use a for loop to generate and print the first 10 offers based on the Fibonacci sequence.

In [102]:
offer1="60% off on 4 items"
offer2="buy one get one free"
for i in range(2,11):
  next=offer1+ "and" +offer2
  print(i,":",next)

2 : 60% off on 4 itemsandbuy one get one free
3 : 60% off on 4 itemsandbuy one get one free
4 : 60% off on 4 itemsandbuy one get one free
5 : 60% off on 4 itemsandbuy one get one free
6 : 60% off on 4 itemsandbuy one get one free
7 : 60% off on 4 itemsandbuy one get one free
8 : 60% off on 4 itemsandbuy one get one free
9 : 60% off on 4 itemsandbuy one get one free
10 : 60% off on 4 itemsandbuy one get one free